*.bin
*.elf
*.d
*.o
*.a
*.cache
.suo
ProjectSettings.json
VSWorkspaceState.json
.vsarduino.h
Compile.vmps.xml
Configuration.Release.vmps.xml
Upload.vmps.xml
slnx.sqlite
arduino.json
c_cpp_properties.json
settings.json
tasks.json
BTCDieselHeater.vcxproj
BTCDieselHeater.vcxproj.filters
BTCDieselHeater.vcxproj.user
.BTCDieselHeater.vsarduino.h
Configuration.Debug.vmps.xml
